In [2]:
import pandas as pd
import sqlite3
from datetime import datetime, timedelta

In [ ]:
# Load the Netflix dataset
try:
    df = pd.read_csv('netflix_titles.csv')
    print("Dataset loaded successfully!")
except FileNotFoundError:
    print("Error: netflix_titles.csv file not found.")
    exit()

In [9]:
# Create SQLite database and connection
conn = sqlite3.connect(':memory:')
df.to_sql('netflix', conn, index=False, if_exists='replace')

def run_query(query):
    """Execute SQL query and return results as a DataFrame"""
    return pd.read_sql_query(query, conn)

In [11]:
# Netflix Project Analysis

# 1. Basic table operations
print("\n1. Basic table operations:")
print(run_query("SELECT * FROM netflix LIMIT 5"))
print(run_query("SELECT COUNT(*) as total_content FROM netflix"))
print(run_query("SELECT DISTINCT type FROM netflix"))

1. Basic table operations:
  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water             None
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans             None
4      s5  TV Show           Kota Factory             None

                                                cast        country  \
0                                               None  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...           None
3                                               None           None
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
   total_content
0           8807
      type
0    Movie
1  TV Show

In [15]:
# 2. Business Problems & Solutions

In [17]:
# Problem 1: Count the number of Movies vs TV Shows
print("\n1. Count the number of Movies vs TV Shows:")
print(run_query("""
    SELECT
        type,
        COUNT(*) as total_content
    FROM netflix
    GROUP BY type
"""))

1. Count the number of Movies vs TV Shows:
      type  total_content
0    Movie           6131
1  TV Show           2676

In [19]:
# Problem 2: Find the most common rating for movies and TV shows
print("\n2. Most common rating for movies and TV shows:")
print(run_query("""
    SELECT
        type,
        rating
    FROM
    (
       SELECT
          type,
          rating,
          COUNT(*),
          RANK() OVER(PARTITION BY type ORDER BY COUNT(*) DESC) as ranking 
      FROM netflix
      GROUP BY type, rating
      ) as t1
      WHERE ranking=1
"""))

2. Most common rating for movies and TV shows:
      type rating
0    Movie  TV-MA
1  TV Show  TV-MA

In [21]:
# Problem 3: List all movies released in a specific year (2020)
print("\n3. All movies released in 2020:")
print(run_query("""
    SELECT * FROM netflix
    WHERE 
       type='Movie'
       AND
       release_year=2020
"""))

3. All movies released in 2020:
    show_id   type                                              title  \
0        s1  Movie                               Dick Johnson Is Dead
1       s17  Movie  Europe's Most Dangerous Man: Otto Skorzeny in ...
2       s79  Movie                                     Tughlaq Durbar
3       s85  Movie                               Omo Ghetto: the Saga
4      s104  Movie                                     Shadow Parties
..      ...    ...                                                ...
512   s3047  Movie                      All the Freckles in the World
513   s3061  Movie                                      Ghost Stories
514   s5973  Movie                                   #cats_the_mewvie
515   s7595  Movie                 Norm of the North: Family Vacation
516   s8100  Movie                                        Straight Up

                                              director  \
0                                      Kirsten Johnson
1        Pedro de Echave García, Pablo Azorín Williams
2                             Delhiprasad Deenadayalan
3                           JJC Skillz, Funke Akindele
4                                           Yemi Amodu
..                                                 ...
512                                       Yibrán Asuad
513  Anurag Kashyap, Dibakar Banerjee, Karan Johar,...
514                                   Michael Margolis
515                                       Anthony Bell
516                                      James Sweeney

                                                  cast        country  \
0                                                 None  United States
1                                                 None           None
2           Vijay Sethupathi, Parthiban, Raashi Khanna           None
3    Funke Akindele, Ayo Makun, Chioma Chukwuka Akp...        Nigeria
4    Jide Kosoko, Omotola Jalade-Ekeinde, Yemi Blaq...           None
..                                                 ...            ...
512  Hánssel Casillas, Loreto Peralta, Andrea Sutto...         Mexico
513  Janhvi Kapoor, Sobhita Dhulipala, Sukant Goel,...          India
514                                               None         Canada
515  Andrew Toth, Lisa Durupt, Jonathan Holmes, Pau...  United States
516  James Sweeney, Katie Findlay, Randall Park, Hi...  United States

             date_added  release_year rating duration  \
0    September 25, 2021          2020  PG-13   90 min
1    September 22, 2021          2020  TV-MA   67 min
2    September 11, 2021          2020  TV-14  145 min
3    September 10, 2021          2020  TV-MA  147 min
4     September 6, 2021          2020  TV-MA  117 min
..                  ...           ...    ...      ...
512     January 3, 2020          2020  TV-14   90 min
513     January 1, 2020          2020  TV-MA  145 min
514    February 5, 2020          2020  TV-14   90 min
515        May 25, 2020          2020  TV-Y7   89 min
516       June 26, 2020          2020  TV-MA   96 min

                                           listed_in  \
0                                      Documentaries
1                Documentaries, International Movies
2             Comedies, Dramas, International Movies
3               Action & Adventure, Comedies, Dramas
4            Dramas, International Movies, Thrillers
..                                               ...
512  Comedies, International Movies, Romantic Movies
513   Horror Movies, International Movies, Thrillers
514              Documentaries, International Movies
515                         Children & Family Movies
516       Comedies, Independent Movies, LGBTQ Movies

                                           description
0    As her father nears the end of his life, filmm...
1    Declassified documents reveal the post-WWII li...
2    A budding politician has devious plans to rise...
3    Twins are reunited as a good-hearted female ga...
4    A family faces destruction in a long-running c...
..                                                 ...
512  Thirteen-year-old José Miguel is immune to 199...
513  The directors of Emmy-nominated "Lust Stories"...
514  This pawesome documentary explores how our fel...
515  Stressed by his duties as king and father, Nor...
516  When a gay brainiac with OCD questions his ide...

[517 rows x 12 columns]

In [23]:
# Problem 4: Find the top 5 countries with the most content on Netflix
print("\n4. Top 5 countries with most content:")
print(run_query("""
    WITH split_countries AS (
        SELECT 
            show_id,
            TRIM(value) as country
        FROM netflix, 
             json_each('["' || REPLACE(country, ',', '","') || '"]')
        WHERE country IS NOT NULL
    )
    SELECT
        country as new_country,
        COUNT(show_id) as total_content
    FROM split_countries
    GROUP BY country
    ORDER BY total_content DESC
    LIMIT 5
"""))

4. Top 5 countries with most content:
      new_country  total_content
0   United States           3690
1           India           1046
2  United Kingdom            806
3          Canada            445
4          France            393

In [25]:
# Problem 5: Identify the longest movie
print("\n5. Longest movie:")
print(run_query("""
    SELECT * FROM netflix
    WHERE
       type='Movie'
       AND
       duration=(SELECT MAX(duration) FROM netflix WHERE type='Movie')
"""))

5. Longest movie:
    show_id   type                                              title  \
0       s52  Movie  InuYasha the Movie 2: The Castle Beyond the Lo...
1       s53  Movie  InuYasha the Movie 3: Swords of an Honorable R...
2      s120  Movie                                     Here and There
3      s338  Movie                                    Good Luck Chuck
4      s345  Movie                                          My Girl 2
..      ...    ...                                                ...
113   s8442  Movie                 The Nutcracker and the Four Realms
114   s8498  Movie                                      The Sapphires
115   s8541  Movie                                         The Tuxedo
116   s8626  Movie                              Tremors 5:  Bloodline
117   s8686  Movie                                                VS.

                          director  \
0                Toshiya Shinohara
1                Toshiya Shinohara
2                         JP Habac
3                    Mark Helfrich
4                     Howard Zieff
..                             ...
113  Lasse Hallström, Joe Johnston
114                    Wayne Blair
115                  Kevin Donovan
116               Don Michael Paul
117                       Ed Lilly

                                                  cast  \
0    Kappei Yamaguchi, Satsuki Yukino, Mieko Harada...
1    Kappei Yamaguchi, Satsuki Yukino, Koji Tsujita...
2    Janine Gutierrez, JC Santos, Victor Anastacio,...
3    Dane Cook, Jessica Alba, Dan Fogler, Ellia Eng...
4    Anna Chlumsky, Austin O'Brien, Dan Aykroyd, Ja...
..                                                 ...
113  Mackenzie Foy, Keira Knightley, Helen Mirren, ...
114  Chris O'Dowd, Deborah Mailman, Jessica Mauboy,...
115  Jackie Chan, Jennifer Love Hewitt, Jason Isaac...
116  Michael Gross, Jamie Kennedy, Ernest Ndhlovu, ...
117  Connor Swindells, Fola Evans-Akingbola, Nichol...

                         country          date_added  release_year rating  \
0                          Japan  September 15, 2021          2002  TV-14
1                          Japan  September 15, 2021          2003  TV-14
2                           None   September 2, 2021          2020  TV-MA
3          United States, Canada      August 1, 2021          2007      R
4                  United States      August 1, 2021          1994     PG
..                           ...                 ...           ...    ...
113                United States        May 28, 2019          2018     PG
114                    Australia      April 26, 2019          2012  PG-13
115                United States    November 1, 2019          2002  PG-13
116  South Africa, United States     January 1, 2020          2015  PG-13
117               United Kingdom       June 19, 2019          2018  TV-MA

    duration                                          listed_in  \
0     99 min  Action & Adventure, Anime Features, Internatio...
1     99 min  Action & Adventure, Anime Features, Internatio...
2     99 min      Dramas, International Movies, Romantic Movies
3     99 min                          Comedies, Romantic Movies
4     99 min         Children & Family Movies, Comedies, Dramas
..       ...                                                ...
113   99 min                           Children & Family Movies
114   99 min               Comedies, Dramas, Independent Movies
115   99 min                       Action & Adventure, Comedies
116   99 min          Comedies, Horror Movies, Sci-Fi & Fantasy
117   99 min                                             Dramas

                                           description
0    With their biggest foe seemingly defeated, Inu...
1    The Great Dog Demon beaqueathed one of the Thr...
2    After meeting through a heated exchange on soc...
3    Every time Chuck breaks up with a girlfriend, ...
4    A teen makes surprising discoveries when she t...
..                                                 ...
113  When her late mother gifts her a key, Clara em...
114  Sisters Gail, Cynthia and Julie have talent, b...
115  After a government spy is hospitalized, New Yo...
116  When he is hired to capture a deadly creature ...
117  A young man in foster care finds his voice in ...

[118 rows x 12 columns]

In [72]:
# Problem 6: Find content added in the last 5 years
print("\n6. Content added in last 5 years:")
current_date = datetime.now().strftime('%Y-%m-%d')
five_years_ago = (datetime.now() - timedelta(days=5*365)).strftime('%Y-%m-%d')
print(run_query(f"""
    SELECT * FROM netflix
    WHERE date_added IS NOT NULL
    AND date(date_added) >= date('{five_years_ago}')
"""))

6. Content added in last 5 years:
Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [46]:
# Problem 7: Find all content by director 'Rajiv Chilaka'
print("\n7. All content by director 'Quentin Tarantino':")
print(run_query("""
    SELECT * FROM netflix
    WHERE director LIKE '%Quentin Tarantino%'
"""))

7. All content by director 'Quentin Tarantino':
  show_id     type                                title           director  \
0    s393    Movie                     Django Unchained  Quentin Tarantino
1   s3894  TV Show  The Hateful Eight: Extended Version  Quentin Tarantino
2   s5204    Movie                    The Hateful Eight  Quentin Tarantino
3   s7078    Movie                 Inglourious Basterds  Quentin Tarantino
4   s7114    Movie                         Jackie Brown  Quentin Tarantino
5   s7198    Movie                    Kill Bill: Vol. 1  Quentin Tarantino
6   s7199    Movie                    Kill Bill: Vol. 2  Quentin Tarantino
7   s7803    Movie                         Pulp Fiction  Quentin Tarantino

                                                cast                 country  \
0  Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...           United States
1  Samuel L. Jackson, Kurt Russell, Jennifer Jaso...                    None
2  Samuel L. Jackson, Kurt Russell, Jennifer Jaso...           United States
3  Brad Pitt, Mélanie Laurent, Christoph Waltz, E...  Germany, United States
4  Pam Grier, Samuel L. Jackson, Robert Forster, ...           United States
5  Uma Thurman, Lucy Liu, Vivica A. Fox, Daryl Ha...    United States, Japan
6  Uma Thurman, David Carradine, Michael Madsen, ...           United States
7  John Travolta, Samuel L. Jackson, Uma Thurman,...           United States

         date_added  release_year rating  duration  \
0     July 24, 2021          2012      R   165 min
1    April 25, 2019          2015      R  1 Season
2  October 25, 2017          2015      R   168 min
3     July 22, 2019          2009      R   153 min
4    August 1, 2019          1997      R   154 min
5   January 1, 2020          2003      R   111 min
6   January 1, 2020          2004      R   137 min
7   January 1, 2019          1994      R   154 min

                             listed_in  \
0           Action & Adventure, Dramas
1                             TV Shows
2        Action & Adventure, Thrillers
3                   Action & Adventure
4                    Dramas, Thrillers
5                   Action & Adventure
6                   Action & Adventure
7  Classic Movies, Cult Movies, Dramas

                                         description
0  Accompanied by a German bounty hunter, a freed...
1  Trapped at a stagecoach stop as a storm rages ...
2  Years after the Civil War, a bounty hunter and...
3  A Jewish cinema owner in occupied Paris is for...
4  When an aging flight attendant's caught smuggl...
5  An assassin is shot by her ruthless employer, ...
6  The Bride has three left on her rampage list: ...
7  This stylized crime caper weaves together stor...

In [48]:
# Problem 8: List all TV shows with more than 5 seasons
print("\n8. TV shows with more than 5 seasons:")
print(run_query("""
    SELECT 
        *
    FROM netflix
    WHERE 
       type = 'TV Show'
       AND
       CAST(SUBSTR(duration, 1, INSTR(duration, ' ') - 1) AS INTEGER) > 5
"""))

8. TV shows with more than 5 seasons:
   show_id     type                          title         director  \
0       s9  TV Show  The Great British Baking Show  Andy Devonshire
1      s56  TV Show                      Nailed It             None
2      s66  TV Show                   Numberblocks             None
3      s68  TV Show              Saved by the Bell             None
4      s83  TV Show                        Lucifer             None
..     ...      ...                            ...              ...
94   s8190  TV Show         The Andy Griffith Show             None
95   s8379  TV Show                     The L Word             None
96   s8443  TV Show              The Office (U.S.)             None
97   s8558  TV Show                  The West Wing             None
98   s8711  TV Show                          Weeds             None

                                                 cast                country  \
0   Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...         United Kingdom
1                         Nicole Byer, Jacques Torres          United States
2   Beth Chalmers, David Holt, Marcel McCalla, Ter...         United Kingdom
3   Mark-Paul Gosselaar, Tiffani Thiessen, Mario L...          United States
4   Tom Ellis, Lauren German, Kevin Alejandro, D.B...          United States
..                                                ...                    ...
94  Andy Griffith, Ron Howard, Don Knotts, Frances...          United States
95  Jennifer Beals, Leisha Hailey, Laurel Holloman...  Canada, United States
96  Steve Carell, John Krasinski, Jenna Fischer, R...          United States
97  Martin Sheen, Rob Lowe, Allison Janney, John S...          United States
98  Mary-Louise Parker, Hunter Parrish, Alexander ...          United States

            date_added  release_year rating   duration  \
0   September 24, 2021          2021  TV-14  9 Seasons
1   September 15, 2021          2021  TV-PG  6 Seasons
2   September 15, 2021          2021   TV-Y  6 Seasons
3   September 15, 2021          1994  TV-PG  9 Seasons
4   September 10, 2021          2021  TV-14  6 Seasons
..                 ...           ...    ...        ...
94        July 1, 2017          1967   TV-G  8 Seasons
95      March 20, 2018          2009  TV-MA  6 Seasons
96     January 1, 2016          2012  TV-14  9 Seasons
97   December 25, 2015          2005  TV-14  7 Seasons
98       April 1, 2014          2012  TV-MA  8 Seasons

                                 listed_in  \
0             British TV Shows, Reality TV
1                               Reality TV
2                                 Kids' TV
3                    Kids' TV, TV Comedies
4   Crime TV Shows, TV Comedies, TV Dramas
..                                     ...
94          Classic & Cult TV, TV Comedies
95            Romantic TV Shows, TV Dramas
96                             TV Comedies
97                               TV Dramas
98                  TV Comedies, TV Dramas

                                          description
0   A talented batch of amateur bakers face off in...
1   Home bakers with a terrible track record take ...
2   In a place called Numberland, math adds up to ...
3   From middle school to college, best friends Za...
4   Bored with being the Lord of Hell, the devil r...
..                                                ...
94  Homespun humor and easygoing Sheriff Andy Tayl...
95  This trailblazing series follows the tangled l...
96  This hit comedy chronicles the foibles of disg...
97  This powerful political epic chronicles the tr...
98  A suburban mother starts selling marijuana to ...

[99 rows x 12 columns]

In [50]:
# Problem 9: Count the number of content items in each genre
print("\n9. Content count by genre:")
print(run_query("""
    WITH split_genres AS (
        SELECT 
            show_id,
            TRIM(value) as genre
        FROM netflix, 
             json_each('["' || REPLACE(listed_in, ',', '","') || '"]')
        WHERE listed_in IS NOT NULL
    )
    SELECT
        genre,
        COUNT(show_id) as total_content
    FROM split_genres
    GROUP BY genre
    ORDER BY total_content DESC
"""))

9. Content count by genre:
                           genre  total_content
0           International Movies           2752
1                         Dramas           2427
2                       Comedies           1674
3         International TV Shows           1351
4                  Documentaries            869
5             Action & Adventure            859
6                      TV Dramas            763
7             Independent Movies            756
8       Children & Family Movies            641
9                Romantic Movies            616
10                   TV Comedies            581
11                     Thrillers            577
12                Crime TV Shows            470
13                      Kids' TV            451
14                    Docuseries            395
15              Music & Musicals            375
16             Romantic TV Shows            370
17                 Horror Movies            357
18               Stand-Up Comedy            343
19                    Reality TV            255
20              British TV Shows            253
21              Sci-Fi & Fantasy            243
22                 Sports Movies            219
23                  Anime Series            176
24     Spanish-Language TV Shows            174
25         TV Action & Adventure            168
26               Korean TV Shows            151
27                Classic Movies            116
28                  LGBTQ Movies            102
29                  TV Mysteries             98
30           Science & Nature TV             92
31           TV Sci-Fi & Fantasy             84
32                     TV Horror             75
33                   Cult Movies             71
34                Anime Features             71
35                 Teen TV Shows             69
36          Faith & Spirituality             65
37                  TV Thrillers             57
38                        Movies             57
39  Stand-Up Comedy & Talk Shows             56
40             Classic & Cult TV             28
41                      TV Shows             16

In [60]:
# Problem 10: Average content release per year in France
print("\n10. Average content release per year in France:")
print(run_query("""
    WITH France_content AS (
        SELECT * FROM netflix WHERE country LIKE '%France%'
    ),
    yearly_counts AS (
        SELECT 
            release_year as year,
            COUNT(*) as yearly_content
        FROM France_content
        GROUP BY release_year
    )
    SELECT 
        year,
        yearly_content,
        ROUND(
            yearly_content * 100.0 / (SELECT COUNT(*) FROM France_content), 
            2
        ) as percentage_of_total
    FROM yearly_counts
    ORDER BY yearly_content DESC
    LIMIT 5
"""))

10. Average content release per year in France:
   year  yearly_content  percentage_of_total
0  2016              52                13.23
1  2019              49                12.47
2  2018              47                11.96
3  2017              40                10.18
4  2015              33                 8.40

In [54]:
# Problem 11: List all documentaries
print("\n11. All documentaries:")
print(run_query("""
    SELECT * FROM netflix
    WHERE listed_in LIKE '%Documentaries%'
"""))

11. All documentaries:
    show_id   type                                              title  \
0        s1  Movie                               Dick Johnson Is Dead
1       s17  Movie  Europe's Most Dangerous Man: Otto Skorzeny in ...
2       s46  Movie                             My Heroes Were Cowboys
3       s69  Movie                                         Schumacher
4       s89  Movie           Blood Brothers: Malcolm X & Muhammad Ali
..      ...    ...                                                ...
864   s8740  Movie                 Why We Fight: The Battle of Russia
865   s8745  Movie                                           Williams
866   s8747  Movie                                             Winnie
867   s8757  Movie                                          Woodstock
868   s8764  Movie                    WWII: Report from the Aleutians

                                              director  \
0                                      Kirsten Johnson
1        Pedro de Echave García, Pablo Azorín Williams
2                                          Tyler Greco
3    Hanns-Bruno Kammertöns, Vanessa Nöcker, Michae...
4                                        Marcus Clarke
..                                                 ...
864                        Frank Capra, Anatole Litvak
865                                    Morgan Matthews
866                                     Pascale Lamche
867                                      Barak Goodman
868                                        John Huston

                        cast                                     country  \
0                       None                               United States
1                       None                                        None
2                       None                                        None
3         Michael Schumacher                                        None
4    Malcolm X, Muhammad Ali                                        None
..                       ...                                         ...
864                     None                               United States
865                     None                              United Kingdom
866                     None  France, Netherlands, South Africa, Finland
867                     None                               United States
868                     None                               United States

             date_added  release_year rating duration  \
0    September 25, 2021          2020  PG-13   90 min
1    September 22, 2021          2020  TV-MA   67 min
2    September 16, 2021          2021     PG   23 min
3    September 15, 2021          2021  TV-14  113 min
4     September 9, 2021          2021  PG-13   96 min
..                  ...           ...    ...      ...
864      March 31, 2017          1943  TV-PG   82 min
865    November 4, 2017          2017  TV-MA  105 min
866   February 26, 2018          2017  TV-14   85 min
867     August 13, 2019          2019  TV-MA   97 min
868      March 31, 2017          1943  TV-PG   45 min

                                             listed_in  \
0                                        Documentaries
1                  Documentaries, International Movies
2                                        Documentaries
3    Documentaries, International Movies, Sports Mo...
4                         Documentaries, Sports Movies
..                                                 ...
864                                      Documentaries
865  Documentaries, International Movies, Sports Mo...
866                Documentaries, International Movies
867                    Documentaries, Music & Musicals
868                                      Documentaries

                                           description
0    As her father nears the end of his life, filmm...
1    Declassified documents reveal the post-WWII li...
2    Robin Wiltshire's painful childhood was rescue...
3    Through exclusive interviews and archival foot...
4    From a chance meeting to a tragic fallout, Mal...
..                                                 ...
864  This installment of Frank Capra's acclaimed do...
865  This inspiring documentary charts the birth of...
866  Winnie Mandela speaks about her extraordinary ...
867  For the 50th anniversary of the legendary Wood...
868  Filmmaker John Huston narrates this Oscar-nomi...

[869 rows x 12 columns]

In [56]:
# Problem 12: Find all content without a director
print("\n12. Content without a director:")
print(run_query("""
    SELECT * FROM netflix
    WHERE director IS NULL
"""))

12. Content without a director:
     show_id     type                                title director  \
0         s2  TV Show                        Blood & Water     None
1         s4  TV Show                Jailbirds New Orleans     None
2         s5  TV Show                         Kota Factory     None
3        s11  TV Show  Vendetta: Truth, Lies and The Mafia     None
4        s15  TV Show      Crime Stories: India Detectives     None
...      ...      ...                                  ...      ...
2629   s8796  TV Show                      Yu-Gi-Oh! Arc-V     None
2630   s8797  TV Show                           Yunus Emre     None
2631   s8798  TV Show                            Zak Storm     None
2632   s8801  TV Show                   Zindagi Gulzar Hai     None
2633   s8804  TV Show                          Zombie Dumb     None

                                                   cast  \
0     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
1                                                  None
2     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
3                                                  None
4                                                  None
...                                                 ...
2629  Mike Liscio, Emily Bauer, Billy Bob Thompson, ...
2630  Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...
2631  Michael Johnston, Jessica Gee-George, Christin...
2632  Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...
2633                                               None

                                            country          date_added  \
0                                      South Africa  September 24, 2021
1                                              None  September 24, 2021
2                                             India  September 24, 2021
3                                              None  September 24, 2021
4                                              None  September 22, 2021
...                                             ...                 ...
2629                                  Japan, Canada         May 1, 2018
2630                                         Turkey    January 17, 2017
2631  United States, France, South Korea, Indonesia  September 13, 2018
2632                                       Pakistan   December 15, 2016
2633                                           None        July 1, 2019

      release_year rating   duration  \
0             2021  TV-MA  2 Seasons
1             2021  TV-MA   1 Season
2             2021  TV-MA  2 Seasons
3             2021  TV-MA   1 Season
4             2021  TV-MA   1 Season
...            ...    ...        ...
2629          2015  TV-Y7  2 Seasons
2630          2016  TV-PG  2 Seasons
2631          2016  TV-Y7  3 Seasons
2632          2012  TV-PG   1 Season
2633          2018  TV-Y7  2 Seasons

                                              listed_in  \
0       International TV Shows, TV Dramas, TV Mysteries
1                                Docuseries, Reality TV
2     International TV Shows, Romantic TV Shows, TV ...
3     Crime TV Shows, Docuseries, International TV S...
4          British TV Shows, Crime TV Shows, Docuseries
...                                                 ...
2629                             Anime Series, Kids' TV
2630                  International TV Shows, TV Dramas
2631                                           Kids' TV
2632  International TV Shows, Romantic TV Shows, TV ...
2633             Kids' TV, Korean TV Shows, TV Comedies

                                            description
0     After crossing paths at a party, a Cape Town t...
1     Feuds, flirtations and toilet talk go down amo...
2     In a city of coaching centers known to train I...
3     Sicily boasts a bold "Anti-Mafia" coalition. B...
4     Cameras following Bengaluru police on the job ...
...                                                 ...
2629  Now that he's discovered the Pendulum Summonin...
2630  During the Mongol invasions, Yunus Emre leaves...
2631  Teen surfer Zak Storm is mysteriously transpor...
2632  Strong-willed, middle-class Kashaf and carefre...
2633  While living alone in a spooky town, a young g...

[2634 rows x 12 columns]

In [74]:
# Problem 13: Movies with Brad Pitt in last 10 years
print("\n13. Movies with Brad Pitt in last 10 years:")
current_year = datetime.now().year
print(run_query(f"""
    SELECT * FROM netflix
    WHERE 
        casts LIKE '%Brad Pitt%'
        AND 
        release_year > {current_year - 10}
"""))

13. Movies with Salman Khan in last 10 years (Fixed):

DatabaseError: Execution failed on sql '
    SELECT * FROM netflix
    WHERE
        (casts LIKE '%Salman Khan%' OR casts LIKE '%Khan, Salman%')
        AND type = 'Movie'
        AND release_year > 2015
': no such column: casts

In [78]:
# Problem 14: Top 10 actors in French content
print("\n14. Top 10 actors in French content:")
print(run_query("""
    WITH split_actors AS (
        SELECT 
            show_id,
            TRIM(value) as actor
        FROM netflix, 
             json_each('["' || REPLACE(casts, ',', '","') || '"]')
        WHERE country LIKE '%French%' AND casts IS NOT NULL
    )
    SELECT
        actor,
        COUNT(*) as total_content
    FROM split_actors
    GROUP BY actor
    ORDER BY total_content DESC
    LIMIT 10
"""))

14. Top 10 actors in French content:

DatabaseError: Execution failed on sql '
    WITH split_actors AS (
        SELECT
            show_id,
            TRIM(value) as actor
        FROM netflix,
             json_each('["' || REPLACE(casts, ',', '","') || '"]')
        WHERE country LIKE '%French%' AND casts IS NOT NULL
    )
    SELECT
        actor,
        COUNT(*) as total_content
    FROM split_actors
    GROUP BY actor
    ORDER BY total_content DESC
    LIMIT 10
': no such column: casts

In [68]:
# Problem 15: Categorize content based on keywords in description
print("\n15. Content categorization based on keywords:")
print(run_query("""
    WITH categorized_content AS (
    SELECT 
        *,
        CASE 
            WHEN description LIKE '%kill%' OR
                 description LIKE '%violence%' THEN 'Bad_Content'
            ELSE 'Good_Content'
        END as category
    FROM netflix
    WHERE description IS NOT NULL
    )
    SELECT 
        category,
        COUNT(*) as total_content
    FROM categorized_content
    GROUP BY category
"""))

15. Content categorization based on keywords:
       category  total_content
0   Bad_Content            342
1  Good_Content           8465